body{
  background-color: #282c34;
  color: white;
}

h1{
  color: yellow;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.row-container {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  gap: 16px; /* Adjust as needed for spacing between items */
  justify-items: center;
  align-items: start;
}

.div-box {
  border: 2px solid white; /* Set border properties as needed */
  padding: 16px; /* Add padding for better appearance */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Button:hover {
  background-color: rgb(128, 131, 133);
}

.changeUsername{
  background-color: antiquewhite;
}

.buttonTeamRed{
  background-color: red;
  font-size: large;
  font-weight: bold;
  width: 100px;
  height: 40px;
}

.buttonTeamBlue{
  background-color: blue;
  font-size: large;
  font-weight: bold;
  width: 100px;
  height: 40px;
}
.buttonTeamGreen{
  background-color: green;
  font-size: large;
  font-weight: bold;
  width: 100px;
  height: 40px;
}
.buttonTeamYellow{
  background-color: yellow;
  font-size: large;
  font-weight: bold;
  width: 100px;
  height: 40px;
}
.buttonTeamPurple{
  background-color: purple;
  font-size: large;
  font-weight: bold;
  width: 100px;
  height: 40px;
}